# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# IDE settings
.vscode/


*.png
output/test*
output/cl*

# This is private for now
pyfisher/data/lensing_nl/act_dr6.txt
script*sh
contour_planck_boris.pdf
contour_planck_mat.pdf
pyfisher/data/test_cmb_fisher_boris/params.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_As_d.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_As_u.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_fiducial.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_H0_d.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_H0_u.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_mnu_d.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_mnu_u.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_nnu_d.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_nnu_u.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_ns_d.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_ns_u.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_ombh2_d.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_ombh2_u.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_omch2_d.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_omch2_u.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_tau_d.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_tau_u.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_w0_d.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_w0_u.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_wa_d.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_cmb_wa_u.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_planck_high_ell_TTEETE_fullsky.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_planck_high_ell_TT_fullsky.txt
pyfisher/data/test_cmb_fisher_boris/test_cmb_fisher_boris_planck_low_ell_TT_fullsky.txt
bin/save_cmb_fisher_boris.py
bin/save_cmb_boris.py
tests/test_atsz_snr_one_poisson_indep_amps.py
sshproxy.sh
